#navbar {
  background-color: goldenrod;
  text-align: center;
}

#navbar ul li {
  display: inline;
  padding: 0 3%;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#navbar ul li a:hover {
  color: rgb(246, 81, 20);
}
#page-title {
  text-align: center;
  font-family: lucida;
}

#page-title a {
  text-decoration: none;
  color: #333;
}
