body{
  font-family: 'ZCOOL KuaiLe', cursive;
  margin: 0;
}

.main-header{
    width: 33%;
    margin-left: 34%;
    position: relative;
    top: 5rem;
}

ul{
  margin: 0;
}

#navbar {
    margin: 0 2% 0 2%;
    background-color: #E3350D;
    text-align: center;
    padding: 1%;
    position: relative;
    top: 0.75rem;
}

#navbar ul li {
  display: inline;
  padding: 0 3%;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#navbar ul li a:hover {
  color: rgb(246, 81, 20);
}

#pageTitle {
  text-align: center;
}

#pageTitle a {
  text-decoration: none;
  color: #fff;
}

