body{
  font-family: 'ZCOOL KuaiLe', cursive;
}

.main-header{
    width: 30%;
    margin-left: 36%;
    margin-top: 2%;
}

#navbar {
  margin: 0 2% 0 2%;
  background-color: goldenrod;
  text-align: center;
}

#navbar ul li {
  display: inline;
  padding: 0 3%;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#navbar ul li a:hover {
  color: rgb(246, 81, 20);
}

#pageTitle {
  text-align: center;
}

#pageTitle a {
  text-decoration: none;
  color: #fff;
}

