%trainer-size{
    position: absolute;
    left: 6rem;
    top: 11rem;
}

%container-attributes{
    position: relative;
    background-image: url('images/pokebg2.jpg');
    background-position: center;
    min-height: 800px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

%card-size{
    width: 15rem;
    height: 23.5625rem;
    background: #fff;
    border-radius: 7px;
    border: 6px solid goldenrod;
    top: 15rem;
}

%square-size{
    width: 11.5rem;
    height: 122px;
    border: 1px solid #333;
    position: relative;
    top: 1rem;
    margin: 0 auto;
    border-radius: 5px;

}

%bottom-square-size{
    width: 14.5rem;
    height: 222px;
    position: relative;
    margin: 0 auto;
    top: 1.5rem;
    border-radius: 5px;
}

%poke-gif-attributes{
    width: 59%;
    margin-left: 2.5rem;
}

%card-grid{
    .card{
        display: inline-grid;
    }
    .card-2{
        display: inline-grid;
    }
    .card-3{
        display: inline-grid;
    }
}

%trainer-name-atr{
    bottom: 26rem;
    left: -13.4rem;
    position: absolute;
    font-size: 2.5rem;
    color: #FFF;
}

body{
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
}

hr{
    color: #fff;
    border-top-style: dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 11%;
    border-width: 18px;
    padding: 1px 4px 1px 4px;
    margin-bottom: 5rem;
}

.container-1{
    @extend %card-grid;
    @extend %container-attributes;
    .card{
        background-image: url('images/steelaf.jpg')
    }
    .card-2{
        background-image: url('images/steelaf.jpg')
    }
    .card-3{
        background-image: url('images/steelaf.jpg')
    }
    .top-square{
        background: black;
    }

}

.container-2{
    @extend %card-grid;
    @extend %container-attributes;
    .card{
        background-image: url('images/test.jpg')
    }
    .card-2{
        background-image: url('images/test.jpg')
    }
    .card-3{
        background-image: url('images/test.jpg')
    }
    .top-square{
        background: black;
    }


}

.container-3{
    @extend %card-grid;
    @extend %container-attributes;
    .card{
        background-image: url('images/blue.jpg')
    }
    .card-2{
        background-image: url('images/yellow.jpg')
    }
    .card-3{
        background-image: url('images/red.jpg')
    }
    .top-square{
        background: black;
    }

}

.trainer{
    width: 3%;
    position: absolute;
    left: 100px;
    top: 300px;
}

.trainer-1{
    @extend %trainer-size;
    width: 13%;
    left: 9rem;
    top: 17rem;
}


.trainer-2{
    @extend %trainer-size;
    width: 18%;
}

.trainer-3{
    @extend %trainer-size;
    width: 13%;
    left: 8rem;
}

.card{
    @extend %card-size;
    .top-square{
        @extend %square-size;
    }
}

.card-2{
    @extend %card-size;
    .top-square{
        @extend %square-size;
    }
}

.card-3{
    @extend %card-size;
    .top-square{
        @extend %square-size;
    }

}

.bottom-square{
    @extend %bottom-square-size;
    p{
        margin: 1.25rem 0 1.25rem 0;
    }
}

.trainer-poke{
    @extend %poke-gif-attributes;
}


.grid{
    position: relative;
    left: 8rem;
    top: 11rem;
    width: 65%;
    margin: 0 auto;
}

.poke-data{
    text-align: center;
    padding-top: 0.50rem;
    h4{
        display: inline-block;
        margin: 0;

    }
    p{
        display: inline-block;
        margin: 0;
    }
}

.poke-atr{
    font-weight: 600;

}
#poke-atk{
    color: #FF5959;
}
#poke-def{
    color: #397be5;
}
#poke-spatk{
    color: #ff8f07;
}
#poke-spdef{
    color: #a3a504;
}
#poke-spd{
    color: #18e002;
}

#dex{
    color: #870582;
}

#hp{
    color: #55960a
}

.stats {
  box-shadow: inset 0px -1px 3px #333;
}

.trainer-name-1{
    @extend %trainer-name-atr;
}

.trainer-name-2{
    @extend %trainer-name-atr;
    left: -12.5rem;
}

.trainer-name-3{
    @extend %trainer-name-atr;
    left: -16rem;
}

